@import "tailwindcss";
@plugin "../lib/heroui.ts";

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-inter);
  --font-display: var(--font-sans);
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
}