name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Prepare PHP environment
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          tools: composer:v2
          coverage: xdebug
          
      - name: Install API dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader
        working-directory: ./api

      - name: Install environment variables
        run: cp .env.example .env
        working-directory: ./api

      - name: Build application key
        run: php artisan key:generate
        working-directory: ./api

      - name: Run test suite
        run: ./vendor/bin/pest
        working-directory: ./api